#After inserting your values, do not commit this file to version control.
SECRET_KEY = 'Please generate a secure key and insert it here'

# API Keys are available at Gemini AI Studio
GEMINI_API_KEY = "insert your API Key here"

# for production purpose, the DEBUG-mode should be set to False:
DEBUG = True

